@use "forwards" as *;

$root: &;

:host {
  display: flex;
  align-items: center;
  column-gap: 52px;
}

.m-image-card--order {
  .m-image-card__image & {
    order: 2;
  }

  .m-image-card__content & {
    order: 1;
  }
}

.m-image-card__image {
  width: 500px;
  height: 400px;
}
.m-image-card__content {
  display: flex;
  flex-direction: column;
}
