@use "forwards" as *;

:host.a-text {
  color: $color-gray;
  font-size: $font-size-normal;
}

:host.a-text--16 {
  font-size: $font-size-base;
}

:host.a-text--18 {
  font-size: $font-size-medium;
}
:host.a-text--20 {
  font-size: $font-size-medium;
}
