@use "forwards" as *;

:host {
  background-color: $color-gray-light;
  color: $color-black;
  font-size: $font-size-base;
  font-weight: 400;
  padding: 20px 24px;
  border-radius: 12px;
  margin: 5px 2px;
  display: block;
}

.a-container__img {
  width: 150px;
  height: 150px;
}
