//fonts
$font-size-normal: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;

//colors
$color-black: #000000;
$color-white: #f1f1f1;
$color-gray: rgb(84, 78, 78);

//rgb colors
$shadow-primary: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
$shadow-secondary: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
